@page
@model InvoiceApp.Pages.InvoiceModel
@{
}


<div class="row">
    




@*<form id="main-form" asp-controller="Home" asp-action="Create" method="post"></form>
<form id="sub-form"  action="/sub-action"  method="post" ></form>

<div class="main-component">
    <div>
    <input type="text" name="line[0].Name" form="main-form" />
    <input type="text" name="line[0].Price" form="main-form" />
    </div>
    <div>
    <input type="text" name="line[1].Name" form="main-form" />
    <input type="text" name="line[1].Price" form="main-form" />
    </div>
    
 

    <input type="submit" name="main-save" value="Save" form="main-form" />
</div>*@

    </div>

    
     

<div class="row">
 
  <form method="post" asp-controller="Home" asp-action="Create">
    <div class="col-md-4">
         <div class="form-group">
                <label  class="control-label">Date</label>
                <input name="Invoice.Date" type="date" class="form-switch" />
            </div>
    </div>
    <div class="col-md-4">
         <div class="form-group">
                <input name="Invoice.Refundable" type="checkbox" class="form-check-input" />
                <label  class="form-check-label">Is Redundable?</label>
            </div>
    </div>
    <div class="col-md-4">
         <div class="form-group">
                <label  class="control-label">Type</label>
                <select name="Invoice.Type">
                    <option value="0">Type1</option>
                    <option value="1">Type2</option>
                    <option value="2">Type3</option>
                </select>
            </div>
    </div> <br />
    <h3>Items</h3>
    <div class="col-md-5">
         <div class="form-group">
                <label  class="control-label">Name</label>
                <input name="Invoice.line[0].Name" type="text" class="form-control" />
            </div>
    </div>
    <div class="col-md-5">
         <div class="form-group">
                <label  class="control-label">Price</label>
                <input name="Invoice.line[0].Price" type="text" class="form-control" />
            </div>
    </div>
     <div class="col-md-5">
         <div class="form-group">
                <label  class="control-label">Name</label>
                <input name="Invoice.line[1].Name" type="text" class="form-control" />
            </div>
    </div>
    <div class="col-md-5">
         <div class="form-group">
                <label  class="control-label">Price</label>
                <input name="Invoice.line[1].Price" type="text" class="form-control" />
            </div>
    </div>
<input type="submit" value="Submit" class="btn btn-primary" />
</form>
</div> 

